<header>
    <div class="container">
        <nav>
            <div class="nav-logo">
                <a href="/">Martijn Kooijman</a>
            </div>
            <div class="nav-content mobile">
                <ul>
                    <li><a href="#pageheader" class="nav-active">Home</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#cases">Projecten</a></li>
                    <li><a href="#over-mij">Over mij</a></li>
                    <li><a href="#cv">CV</a></li>
                </ul>
            </div>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>