<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Portfolio | Martijn Kooijman</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
        <section class="section pageheader" id="pageheader">
            <div class="container">
                <div class="content-wrapper">
                    <div class="col-left">
                        <div class="content">
                            <div class="intro-text">
                                <h1>Martijn Kooijman, <span class="gradient">Front-end Developer & UI/UX Designer</span></h1>
                                <p>Leuk dat je interesse hebt in mijn portfolio! Ik ben een gepassioneerde Front-end developer en UX/Designer, en recent afgestudeerd aan de opleiding Communicatie & Multimedia Design
                                    op de Hogeschool van Amsterdam. Kijk gerust even rond!
                                </p>
                                <div class="button-wrapper">
                                    <a href="/download-cv" class="btn"><i class="fa-solid fa-eye"></i> Bekijk CV</a>
                                    <a href="tel:+31612345678" class="btn btn-outline"><i class="fa-solid fa-phone"></i> Geef een belletje!</a>
                                </div>
                            </div>
                            <div class="socials">
                                <a href="https://nl.linkedin.com/in/martijn-kooijman-604040155" target="_blank" rel="noopener noreferrer" class="social-link">
                                    <div class="social-icon">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                </a>
                                <a href="https://github.com/Martino538" target="_blank" rel="noopener noreferrer" class="social-link">
                                    <div class="social-icon">
                                        <i class="fa-brands fa-github"></i>
                                    </div>
                                </a>
                                <a href="https://www.instagram.com/_martijnk/" target="_blank" rel="noopener noreferrer" class="social-link">
                                    <div class="social-icon">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-right">
                        <img src="./img/martijn-badge-main.png" alt="Front view image of Martijn">
                    </div>
                </div>
            </div>
        </section>
        <section class="section skills" id="skills">
            <div class="container">
                <div class="content">
                    <h2>Skills</h2>
                    <ul class="skills-wrapper">
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/html-icon.svg" alt="image of html logo">
                            </div>
                            <div class="skill-text">
                                <h3>HTML</h3>
                                <p>Zeer begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/css-icon.svg" alt="image of CSS logo">
                            </div>
                            <div class="skill-text">
                                <h3>CSS</h3>
                                <p>Zeer begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/js-icon.svg" alt="image of JavaScript logo">
                            </div>
                            <div class="skill-text">
                                <h3>JavaScript</h3>
                                <p>Zeer begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/React-icon.svg" alt="image of React logo">
                            </div>
                            <div class="skill-text">
                                <h3>React</h3>
                                <p>Enigszins begaand</p>
                            </div>
                        </li>                        
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/php-icon.svg" alt="image of PHP logo">
                            </div>
                            <div class="skill-text">
                                <h3>PHP</h3>
                                <p>Enigszins begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/wordpress-icon.svg" alt="image of Wordpress logo">
                            </div>
                            <div class="skill-text">
                                <h3>Wordpress</h3>
                                <p>Begaand</p>
                            </div>
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/sass-icon.svg" alt="image of Sass logo">
                            </div>
                            <div class="skill-text">
                                <h3>SASS</h3>
                                <p>Begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/nodejs-icon.svg" alt="image of NodeJs logo">
                            </div>
                            <div class="skill-text">
                                <h3>NodeJS</h3>
                                <p>Begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/github-icon.svg" alt="image of Github logo">
                            </div>
                            <div class="skill-text">
                                <h3>Github</h3>
                                <p>Begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/adobe-creative.png" alt="image of Photoshop logo">
                            </div>
                            <div class="skill-text">
                                <h3>Adobe</h3>
                                <p>Zeer begaand</p>
                            </div>
                        </li>                        
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/figma-icon.svg" alt="image of Figma logo">
                            </div>
                            <div class="skill-text">
                                <h3>Figma</h3>
                                <p>Zeer begaand</p>
                            </div>                        
                        </li>
                        <li class="skill">
                            <div class="skill-image">
                                <img src="./img/framer-icon.svg" alt="image of Framer logo">
                            </div>
                            <div class="skill-text">
                                <h3>Framer</h3>
                                <p>Zeer begaand</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section cases" id="cases">
            <h2>Projecten</h2>
            <div class="slider">
                <div class="swiper cases-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/projects/Runite" class="latest">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/Runite-Mockup.jpg" alt="Impression image of my project: Runite website">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Runite</h3>
                                        <p>Een gebruiksvriendelijke en visueel aantrekkelijke website voor een private game-server.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>HTML/CSS</span>
                                        <span>JavaScript</span>
                                        <span>UX/UI</span>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                        <div class="swiper-slide">
                            <a href="/projects/bannerfy">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/BannerFy-Mockup.jpg" alt="Impression image of my project: Bannerfy">
                                    </div>
                                    <div class="slide-info">
                                        <h3>BannerFy</h3>
                                        <p>Een prototype voor een no-code banner tool waarmee content marketeers rich media banners kunnen maken en aanpassen.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>UX/UI</span>
                                        <span>Figma</span>
                                        <span>Prototyping</span>
                                        <span>Research</span>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                        <div class="swiper-slide">
                            <a href="/projects/Kunst-in-c">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/Kunst-in-c-mockup.jpg" alt="Impression image of my project: Kunst-in-c">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Kunst in C</h3>
                                        <p>Een website voor stichting Kunst in C, gerealiseerd met een op maat gemaakt WordPress-thema en interactieve elementen.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>Wordpress</span>
                                        <span>PHP</span>
                                        <span>HTML/CSS</span>
                                        <span>GSAP</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/projects/countdown-game">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/refsportals-mockup.jpg" alt="Impression image of my project: Countdown Timer Game">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Countdown Timer Game</h3>
                                        <p>Een interactieve React-game waarin spelers een timer zo precies mogelijk moeten stoppen.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>HTML/CSS</span>
                                        <span>React</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/projects/investment-tool">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/investmentTool-mockup.jpg" alt="Impression image of my project: Investment Calculator tool">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Investment Calculator</h3>
                                        <p>Een investment app waarin gebruikers hun initiële investering, jaarlijkse bijdrage, verwacht rendement en looptijd kunnen berekenen en visualiseren.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>HTML/CSS</span>
                                        <span>React</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/projects/Api">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/API-Mockup.jpg" alt="Impression image of my project: API">
                                    </div>
                                    <div class="slide-info">
                                        <h3>API - Data Fetching</h3>
                                        <p>Een mini-Netflix webapp gebouwd met de TMDB API, EJS-templating en interactieve animaties via Swiper.js en GSAP.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>API</span>
                                        <span>Node.js</span>
                                        <span>EJS</span>
                                        <span>HTML</span>
                                        <span>CSS</span>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                        <div class="swiper-slide">
                            <a href="/projects/Fancy-Fireworks">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/Fancy-fireworks-mockup.jpg" alt="Impression image of my project: Fancy Fireworks">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Fancy Fireworks</h3>
                                        <p>Een interactieve vuurwerkshow volledig gebouwd met HTML en CSS, zonder JavaScript, waarbij verschillende geavanceerde CSS-selectors zijn toegepast.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>HTML/CSS</span>
                                        <span>NO-JavaScript</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/projects/Pokedex">
                                <div class="slide-content">
                                    <div class="slide-image">
                                        <img src="./img/pokedex-mockup.jpg" alt="Impression image of my project: Pokedex">
                                    </div>
                                    <div class="slide-info">
                                        <h3>Pokedex</h3>
                                        <p>Een interactieve Pokédex gebouwd in SvelteKit met de Pokémon API en datavisualisaties via D3.js.</p>
                                    </div>
                                    <div class="slide-tags">
                                        <span>Svelte-Kit</span>
                                        <span>HTML/CSS</span>
                                        <span>JavaScript</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="introduction" id="over-mij">
            <div class="container">
                <div class="content">
                    <div class="col-left">
                        <div class="introduction-image">
                            <img src="./img/martijn-close.jpg" alt="Front view of Martijn">
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="introduction-text">
                            <h2>Wie is Martijn!?</h2>
                            <p>Mijn reis is ooit begonnen op het ROC van Amsterdam waar ik mijn interesse in het programmeren en ontwerpen van webapplicaties ontdekte. 
                                Nu ben ik doorgegroeid naar mijn huidige studie: Communicatie & Multimedia Design aan de Hogeschool van Amsterdam.
                                Sindsdien heb ik aan diverse projecten gewerkt waarbij ik naast het ontwerpen ook ervaring heb opgedaan in het coderen van zowel de front-end als back-end.
                                Dit heeft mij geholpen om mijn technische vaardigheden te verfijnen en mijn oog voor detail en uitstraling te ontwikkelen.</p>
                            <h3>Mijn drijfveer</h3>
                            <p>Wat mij echt motiveert, is het bouwen van applicaties die zowel vlekkeloos functioneren als prettig zijn om te gebruiken.
                                Ik geniet ervan om efficiënte code te schrijven en deze te combineren met ontwerpen die aantrekkelijk en gebruiksvriendelijk zijn.</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="col-left">
                        <div class="introduction-text">
                            <h2>Coding by day, DJ by night...</h2>
                            <p>Naast mijn ambities voor het coderen en ontwerpen van applicaties heb ik een grote passie voor muziek! In de weekenden sta ik daarom regelmatig
                                achter de draaitafel om een fantastische avond voor de mensen te verzorgen. Ik heb mijn eigen bedrijf en richt mij op clubs, bedrijfsfeesten,
                                 verjaardagsfeesten en bruiloften. Een kleine impressie:</p>
                            <div class="socials">
                                <a href="https://www.instagram.com/martin_cage_" target="_blank" rel="noopener noreferrer" class="social-link">
                                    <div class="social-icon">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </a>
                                <a href="https://www.youtube.com/@MartinCageOfficial" target="_blank" rel="noopener noreferrer" class="social-link">
                                    <div class="social-icon">
                                        <i class="fa-brands fa-youtube"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="introduction-image">
                            <img src="./img/martijn-back.jpg" alt="Back view of Martijn wearing a sweater with his own brand.">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section cv" id="cv">
            <article class="cv-card">
                <div class="card-body">
                    <h3>Martijn Kooijman</h3>
                    <h4 class="gradient">Front-end Developer, UX/UI Designer</h4>
                    <p>Een leergierige Front-end developer en UX/Designer. Recent afgestudeerd aan de opleiding Communicatie & Multimedia Design op de Hogeschool van Amsterdam.</p>
                </div>
                <div class="card-footer">
                    <h4>Werkervaring</h4>
                    <ul>
                        <li>Fresh-Dev | 2023 - 2024</li>
                        <li>RedButton | 2018 - 2019</li>
                    </ul>
                </div>
            </article>
            <div class="button-wrapper">
                <a href="/download-cv" class="btn card-btn">Bekijk CV</a>
            </div>
        </section>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>
