<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Portfolio | Martijn Kooijman</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
        <section class="section project-pageheader">
            <div class="container">
                <div class="content-wrapper">
                    <div class="content">
                        <div class="col-left">
                            <div class="intro-text">
                                <h1>Runite - Game Server</h1>
                                <div class="project-tags">
                                    <span><i class="fa-brands fa-html5"></i> HTML</span>
                                    <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                                    <span><i class="fa-brands fa-square-js"></i> JavaScript</span>
                                </div>
                                <div class="project-site">
                                    <a href="https://runiters.com/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link"></i> Link naar de live website</a>
                                </div>
                                <p>Tijdens dit project heb ik een complete website ontworpen en gebouwd voor een private game-server. Mijn doel was om mijn gevoel 
                                    voor design en mijn CSS-vaardigheden verder te ontwikkelen. Ik heb een visuele stijl gemaakt die goed past bij de doelgroep, met 
                                    aandacht voor typografie, kleur en een consistente opbouw van de lay-out. Vanuit dat ontwerp heb ik een gebruiksvriendelijke interface 
                                    uitgewerkt die ook op verschillende schermgroottes goed werkt.</br></br> Daarna heb ik het design vertaald naar een volledig werkende website.
                                Hierbij heb ik gewerkt met moderne technieken zoals Flexbox, Grid, transitions en custom properties. Ook heb ik een interactieve SVG gebruikt als 
                                navigatie, wat de site een speelser en dynamischer gevoel geeft.</p>
                            </div>
                        </div>
                        <div class="col-right">
                            <div class="image-wrapper">
                                <img src="/img/runite-logo.png" alt="Logo of my Runite Game Server project">
                            </div>
                        </div>
                    </div>
                    <div class="project-images">
                        <div class="col">
                            <img src="/img/runite1.png" alt="Impression image of my project">
                        </div>
                        <div class="col">
                            <img src="/img/runite2.png" alt="Impression image of my project">
                        </div>
                        <div class="col">
                            <img src="/img/runite3.png" alt="Impression image of my project">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/footer.ejs'); %>
    </body>
</html>