<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Portfolio | Martijn Kooijman</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
    </body>
</html>